# Node modules (exclude only in the build context)
node_modules

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Git files
.git
.gitignore

# IDE and editor directories
.vscode
.idea

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
tmp
.cache

# Exclude Docker-related files
Dockerfile
.dockerignore

